<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HAELLTEC - Loja</title>
    <link rel="stylesheet" href="../static/css/styles_index.css">
    <script src="../static/js/script_index.js" defer></script>
</head>
<body>
    <div class="grid-container">
        <header class="cabecalho">
            <div class="logo">
                <img class="logo" src="../static/img/logo/logohaelltec.png">
            </div>
            <div class="titulo">LOJA HAELLTEC</div>
            <nav class="menu">
                <button>Inicio</button>
                <button>Produtos</button>
                <button>Sobre Nós</button>
                <button>Contato</button>
                <button>Cadastrar</button>
            </nav>
        </header>
        
        <main class="corpo">
            <iframe class="iframe_pg" id="iframe_produtos" src="{{ url_for('home') }}"></iframe>
        </main>
        
        <footer class="foot">
            <div class="moldura_form">
                <div class="titulo_form"><h2>DEIXE UMA MENSAGEM</h2></div>
                <form id="myForm" method="post">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="tel" name="telefone" placeholder="Número para contato">
                    <textarea name="mensagem" placeholder="Breve mensagem"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </footer>
        <div class="rodape">
            <p>HAELLTEC ©</p>
            <h3 class="direitos">◄ Feito em pytho com Flask. Todos os direitos reservados. ►</h3>
        </div>
    </div>
</body>
</html>
